swagger: '2.0'
info:
  title: Aeroclub Api
  description: test
  contact:
    email: teamsigma@aeroclub.ru
  version: 1.109.3-beta
host: beta-api.aeroclub.ru
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /about:
    get:
      tags:
        - About
      description: Получение информации о версии сборки и протокола
      operationId: GetApiInfo
      responses:
        '200':
          description: Информация об Api
          schema:
            $ref: '#/definitions/ApiInfoResponse'
    parameters: []
  /account:
    get:
      tags:
        - Account
      description: Получение информации о текущем аккаунте
      operationId: GetAccount
      responses:
        '200':
          description: Возвращается аккаунт текущего пользоателя
          schema:
            $ref: '#/definitions/Account'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/account/{accountId}/status':
    get:
      tags:
        - Account
      description: Проверка статуса регистрации аккаунта
      operationId: CheckRegistration
      parameters:
        - name: accountId
          in: path
          required: true
          type: integer
      responses:
        '202':
          description: Аккаунт не активен
        '204':
          description: Аккаунт активен
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /account/recovery:
    post:
      tags:
        - Account
      description: Восстановление пароля
      operationId: RecoveryPassword
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/RecoveryPasswordRequest'
          name: RecoveryPasswordParameters
          description: Параметры для восстановления пароля
          required: true
      responses:
        '202':
          description: Запрос на изменение пароля принят
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /account/register:
    post:
      tags:
        - Account
      description: Регистрация нового аккаунта
      operationId: RegisterAccount
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/RegistrationsRequest'
          name: Account
          required: true
      responses:
        '201':
          description: 'Аккаунт создан, необходимо перейти по ссылке в заголовке Location для проверки статуса активации'
          headers:
            Location:
              description: url для проверки статуса активации
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/batch/{batchToken}/complete':
    post:
      tags:
        - AuthFx
      description: '[⚠️**Устарело**] Авторизация услуги'
      deprecated: true
      operationId: CompleteAuth
      parameters:
        - name: batchToken
          in: path
          description: токен авторизации
          required: true
          type: string
        - in: body
          schema:
            $ref: '#/definitions/CompleteServiceAuthorizationRequest'
          name: body
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/journeys/{journeyNumber}/trips/{businessTripNumber}/batch/{batchToken}':
    get:
      tags:
        - AuthFx
      description: Получение командировки по номеру
      operationId: GetAuthBusinessTrip
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: batchToken
          in: path
          description: Токен авторизации
          required: true
          type: string
      responses:
        '200':
          description: Возвращается командировка c токеном авторизации
          schema:
            $ref: '#/definitions/BusinessTripWithAuthData'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/journeys/{journeyNumber}/trips/{businessTripNumber}/batch/{batchToken}/posts':
    put:
      tags:
        - AuthFx
      description: Добавить пост от лица авторизующего.
      operationId: AddBusinessTripAuthorizerPost
      consumes:
        - multipart/form-data
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: batchToken
          in: path
          description: Токен авторизации
          required: true
          type: string
        - in: body
          schema:
            $ref: '#/definitions/MessageRequest'
          name: body
          required: true
        - name: upfile
          in: formData
          description: Прикрепляемое вложение
          type: file
      responses:
        '200':
          description: Возвращается добавленный комментарий
          schema:
            $ref: '#/definitions/Post'
          headers:
            X-UpdateToken:
              description: Токен версии добавленного комментария
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /authfx/list:
    get:
      tags:
        - AuthFx
      description: Лента авторизации
      operationId: GetListForAuthorization
      parameters:
        - name: statusFilter
          in: query
          description: Фильтр по статусам услуг в заказе
          type: string
          enum:
            - Draft
            - Archived
            - Active
        - name: pageNumber
          in: query
          description: Номер страницы
          type: integer
          default: 0
        - name: maxCount
          in: query
          description: Количество элементов на странице
          type: integer
          default: 15
      responses:
        '200':
          description: 'Список услуг или командировок (в зависимости от режима работы компании), оиждающих авторизацию'
          schema:
            $ref: '#/definitions/AuthorizationListPagedResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/order/{orderNumber}/service/{serviceNumber}/token':
    get:
      tags:
        - AuthFx
      description: '[⚠️**Устарело**] Получение токена для авторизации услуги'
      deprecated: true
      operationId: GetBatchTokenForService
      parameters:
        - name: orderNumber
          in: path
          description: номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Токен для авторизации услуги
          schema:
            $ref: '#/definitions/DataResponseOfString'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/orders/{orderNumber}/services/{serviceNumber}':
    get:
      tags:
        - AuthFx
      description: Получение услуги для авторизации по номеру
      operationId: GetAuthService
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается услуга с токеном авторизации
          schema:
            $ref: '#/definitions/IServiceDetailWithAuth'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/service/batch/{batchToken}/complete':
    post:
      tags:
        - AuthFx
      description: Авторизация услуги
      operationId: CompleteAuthService
      parameters:
        - name: batchToken
          in: path
          description: токен авторизации
          required: true
          type: string
        - in: body
          schema:
            $ref: '#/definitions/CompleteServiceAuthorizationRequest'
          name: body
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/service/batch/{batchToken}/posts':
    put:
      tags:
        - AuthFx
      description: Добавить пост от лица авторизующего.
      operationId: AddAuthorizerPost
      consumes:
        - multipart/form-data
      parameters:
        - name: batchToken
          in: path
          description: Токен авторизации
          required: true
          type: string
        - in: body
          schema:
            $ref: '#/definitions/MessageRequest'
          name: body
          required: true
        - name: upfile
          in: formData
          description: Прикрепляемое вложение
          type: file
      responses:
        '200':
          description: Возвращается добавленный комментарий
          schema:
            $ref: '#/definitions/Post'
          headers:
            X-UpdateToken:
              description: Токен версии добавленного комментария
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /authfx/services:
    get:
      tags:
        - AuthFx
      description: Получение списка услуг для авторизации
      operationId: GetServicesForAuth
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/GetOrderArgs'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается список услуг для авторизации
          schema:
            $ref: '#/definitions/PagedResponseOfIServiceInfo'
        '400':
          description: 'Ошибка: неверный запрос'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/authfx/trip/batch/{batchToken}/complete':
    post:
      tags:
        - AuthFx
      description: Авторизация командировки
      operationId: CompleteAuthTrip
      parameters:
        - name: batchToken
          in: path
          description: токен авторизации
          required: true
          type: string
        - in: body
          schema:
            $ref: '#/definitions/CompleteBusinessTripAuthorizationRequest'
          name: body
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /companies:
    get:
      tags:
        - Companies
      description: 'Получение списка компаний, доступных для текущего пользователя'
      operationId: GetCompaniesByDomain
      responses:
        '200':
          description: Возвращается список компаний
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/companies/{companyId}/profiles/{profileId}/allowedpaymentrequisites':
    get:
      tags:
        - Companies
      description: Получение доступных форм оплаты для компании и профиля
      operationId: GetAllowedPaymentRequisites
      parameters:
        - name: profileId
          in: path
          description: Идентификатор профайла
          required: true
          type: integer
        - name: companyId
          in: path
          description: Идентификатор компании
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается список доступных форм оплаты
          schema:
            $ref: '#/definitions/DataResponseOfPaymentRequisites'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /companies/servicing:
    get:
      tags:
        - Companies
      description: '[⚠️**Устарело**] Получение списка компаний, доступных для обслуживания текущим пользователем'
      deprecated: true
      operationId: GetServicing
      responses:
        '200':
          description: Возвращается список компаний
          schema:
            type: array
            items:
              $ref: '#/definitions/ServicingCompanyInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/companies/travellerProfiles/{profileId}/servicing':
    get:
      tags:
        - Companies
      description: 'Получение списка компаний, доступных для обслуживания текущим пользователем'
      operationId: GetServicingCompaniesForProfile
      parameters:
        - name: profileId
          in: path
          description: Профиль путешественника
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается список компаний
          schema:
            type: array
            items:
              $ref: '#/definitions/ServicingCompanyInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/integration/journeys/{journeyNumber}/trips/{businessTripNumber}/cancellation':
    put:
      tags:
        - Integration
      description: Запроса отмены командировки
      operationId: CancelIntegrationJourney
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/CancelTripRequestV2'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается результат отмены командировки и список ошибок в случае неудачи
          schema:
            $ref: '#/definitions/BaseResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/integration/journeys/{journeyNumber}/trips/{businessTripNumber}/customproperties':
    put:
      tags:
        - Integration
      description: Заполнение / обновление текстовых значений доп. данных в командировке и услугах + заполнение суточных
      operationId: InsertOrUpdateUpdateBusinessTripCustomProperties
      parameters:
        - name: journeyNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/InsertOrUpdateBusinessTripsCustomPropertiesRequest'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается список доп. данных с указанием успешности обновления их значений
          schema:
            $ref: '#/definitions/DataResponseOfInsertOrUpdateBusinessTripsCustomPropertiesResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /integration/journeys/search:
    get:
      tags:
        - Integration
      description: Получение списка поездок
      operationId: GetIntegrationJourneys
      parameters:
        - name: statusFilter
          in: query
          description: Фильтр по статусам услуг в командировке. Можно указать несколько значений через запятую.
          type: array
          items:
            type: string
            enum:
              - Draft
              - Archived
              - Active
              - Complete
              - Closed
              - СancellationRequested
              - Cancelled
        - name: serviceTypes
          in: query
          description: Фильтр по типам услуг в командировке. Можно указать несколько значений через запятую.
          type: string
          enum:
            - Avia
            - Rail
            - Hotel
            - AeroExpress
        - name: number
          in: query
          description: Номер поездки или командировки для поиска (комбинированное поле)
          type: integer
        - name: travelFromCityId
          in: query
          description: Город отправления
          type: integer
          default: 15613
        - name: travelToCityId
          in: query
          description: Город назначения
          type: integer
          default: 16381
        - name: dateFrom
          in: query
          description: Дата начала поиска
          type: string
          format: date-time
          default: '2020-10-05'
        - name: dateTo
          in: query
          description: Дата окончания поиска
          type: string
          format: date-time
          default: '2020-11-24'
        - name: serviceState
          in: query
          description: Фильтр по состоянию услуги в командировке. Можно указать несколько значений через запятую.
          type: string
          enum:
            - Unknown
            - Reservation
            - Refunding
            - Servicing
            - Execution
            - Exchanged
            - NoPlaces
            - Expired
            - Rejected
        - name: orderNumber
          in: query
          description: Номер заказа для поиска командировки
          type: integer
        - name: TravellerProfileId
          in: query
          description: Идентификатор профиля путешественника
          type: integer
      responses:
        '200':
          description: Возвращается список поездок согласно заданным критериям
          schema:
            $ref: '#/definitions/PagedResponseOfJourneyInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /integration/journeysV2:
    put:
      tags:
        - Integration
      description: Создание поездки версии 2 (с возможностью передачи идентификаторов внешних компаний). Поддержка создания с неколькими пунктами назначения
      operationId: CreateIntegrationJourneyV2
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/CreateJourneyRequestV2'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается номер созданной поездки и командировок
          schema:
            $ref: '#/definitions/DataResponseOfJourneyNumbers'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /journeys:
    get:
      tags:
        - Journeys
      description: Получение списка поездок
      operationId: GetJourneys
      parameters:
        - name: statusFilter
          in: query
          description: Фильтр по статусам услуг в командировке
          type: array
          items:
            type: string
            enum:
              - Draft
              - Archived
              - Active
              - Complete
              - Closed
              - СancellationRequested
              - Cancelled
        - name: serviceTypes
          in: query
          description: Фильтр по типам услуг в командировке
          type: array
          items:
            enum:
              - Avia
              - Rail
              - Hotel
              - AeroExpress
        - name: number
          in: query
          description: Номер поездки или командировки для поиска (комбинированное поле)
          type: integer
        - name: travelFromCityId
          in: query
          description: Город отправления
          type: integer
          default: 15613
        - name: travelToCityId
          in: query
          description: Город назначения
          type: integer
          default: 16381
        - name: dateFrom
          in: query
          description: Дата начала поиска
          type: string
          format: date-time
          default: '2020-10-05'
        - name: dateTo
          in: query
          description: Дата окончания поиска
          type: string
          format: date-time
          default: '2020-11-24'
        - name: serviceState
          in: query
          description: Фильтр по состоянию услуги в командировке
          type: array
          items:
            enum:
              - Unknown
              - Reservation
              - Refunding
              - Servicing
              - Execution
              - Exchanged
              - NoPlaces
              - Expired
              - Rejected
        - name: orderNumber
          in: query
          description: Номер заказа для поиска командировки
          type: integer
        - name: TravellerProfileId
          in: query
          description: Идентификатор профиля путешественника
          type: integer
      responses:
        '200':
          description: Возвращается список поездок согласно заданным критериям
          schema:
            $ref: '#/definitions/PagedResponseOfJourneyInfo'
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Journeys
      description: Создание поездки
      operationId: CreateJourney
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/CreateJourneyRequest'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается номер созданной поездки и командировок
          schema:
            $ref: '#/definitions/DataResponseOfJourneyNumbers'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}':
    get:
      tags:
        - Journeys
      description: Получение поездки по номеру
      operationId: GetJourneyByNumber
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается информация о поездке
          schema:
            $ref: '#/definitions/DataResponseOfJourneyInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}':
    get:
      tags:
        - Journeys
      description: Получение командировки по номеру
      operationId: GetBusinessTrip
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается командировка
          schema:
            $ref: '#/definitions/BusinessTripOfIServiceInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/cancellation':
    put:
      tags:
        - Journeys
      description: Запроса отмены командировки
      operationId: CancelJourney
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/CancelTripRequest'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается результат отмены командировки и список ошибок в случае неудачи
          schema:
            $ref: '#/definitions/BaseResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/cancellation/available':
    get:
      tags:
        - Journeys
      description: Получение возможности отмены командировки и необходимые для заполнения в услугах ReasonCode
      operationId: GetTripCancellationAvailable
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается флаг возможности отмены командировки и список необходимых Reason-кодов
          schema:
            $ref: '#/definitions/DataResponseOfJourneyAvailableCancellationInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/cancellation/status':
    get:
      tags:
        - Journeys
      description: Получение статуса отмены командировки
      operationId: GetCancellationStatus
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается флаг возможности отмены командировки и список необходимых Reason-кодов
          schema:
            $ref: '#/definitions/DataResponseOfBusinesTripCancellationResult'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/changedates':
    put:
      tags:
        - Journeys
      description: Обновление информации по направлениям командировки
      operationId: ChangeDates
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/BusinessTripChangeDatesRequest'
          name: body
          required: true
        - name: journeyNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается результат обновления информации по направлениям командировки
          schema:
            $ref: '#/definitions/BusinessTripChangeDatesResult'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/changedatesinfo':
    get:
      tags:
        - Journeys
      description: Получение краткой информации по направлениям командировки
      operationId: GetChangeDatesInfo
      parameters:
        - name: journeyNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается краткая информация по направлениям командировки
          schema:
            $ref: '#/definitions/BusinessTripChangeDatesInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/documents':
    get:
      tags:
        - Journeys
      description: Получение проездных документов по командировке
      operationId: GetDocumentsForBusinessTrip
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается список проездных документов
          schema:
            type: array
            items:
              $ref: '#/definitions/Ticket'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/posts':
    get:
      tags:
        - Journeys
      description: Получение комментариев к заказу
      operationId: GetBusinessTripPosts
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: last
          in: query
          description: Количество последних коментариев
          type: integer
          default: 10
        - name: versionToken
          in: query
          description: Токен версии последней полученной выборки
          type: string
        - name: lastMessageID
          in: query
          description: Идентификатор последнего полученного комментария
          type: integer
      responses:
        '200':
          description: Список комментариев к заказу
          schema:
            type: array
            items:
              $ref: '#/definitions/BusinessTripAuthPost'
          headers:
            X-UpdateToken:
              description: Токен версии выборки
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Journeys
      description: Добавление комментария к командировке
      operationId: AddBusinessTripPost
      consumes:
        - multipart/form-data
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/MessageRequest'
          name: body
          required: true
        - name: upfile
          in: formData
          description: Прикрепляемый файл
          type: file
      responses:
        '200':
          description: Возвращается добавленный комментарий
          schema:
            $ref: '#/definitions/Post'
          headers:
            X-UpdateToken:
              description: Токен версии добавленного комментария
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/posts/read':
    put:
      tags:
        - Journeys
      description: Пометить комментарии прочитанными
      operationId: ReadBusinessTripPosts
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/IdsRequest'
          name: body
          required: true
      responses:
        '200':
          description: Запрос выполнен успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/stage/{BusinessTripStage}/analytics/{customPropertyId}/values/{customPropertyValueId}/dependent':
    put:
      tags:
        - Journeys
      description: Получение зависимых дополнительных данных
      operationId: GetBusinessTripTravellersAnalyticsChilds
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: BusinessTripStage
          in: path
          description: Этап оформления командировки
          required: true
          type: string
          enum:
            - Unknown
            - Fact
            - Services
            - AdditionalService
        - name: customPropertyId
          in: path
          description: Идентификатор допданного
          required: true
          type: integer
        - name: customPropertyValueId
          in: path
          description: Идентификатор значения допданного.
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/ServiceNumberRequest'
          name: body
          required: true
      responses:
        '200':
          description: Возвращаются зависимые дополнительных данных
          schema:
            $ref: '#/definitions/DataResponseOfCustomPropertyDependent'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/stage/{BusinessTripStage}/authfx/state':
    get:
      tags:
        - Journeys
      description: Проверка необходимости авторизации и получение списка авторизующих для командировки
      operationId: GetTripAuthFxState
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: BusinessTripStage
          in: path
          description: Этап авторизации
          required: true
          type: string
      responses:
        '200':
          description: Признаки необходимости авторизации и список авторизующих
          schema:
            $ref: '#/definitions/DataResponseOfAuthFxState'
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Journeys
      description: Метод отправки командировки и услуг в командировке на авторизацию
      operationId: ChangeTripAuthFxState
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: BusinessTripStage
          in: path
          description: Этап авторизации
          required: true
          type: string
          default: fact
        - in: body
          schema:
            $ref: '#/definitions/SendTripToAuthorizationRequest'
          name: body
          required: true
      responses:
        '200':
          description: Запрос выполнен успешно
          schema:
            $ref: '#/definitions/BaseResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/stage/{BusinessTripStage}/customproperties':
    post:
      tags:
        - Journeys
      description: Сохранение доп. данных по командировке
      operationId: SaveBusinessTripAnalytics
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: BusinessTripStage
          in: path
          description: Этап оформления командировки
          required: true
          type: string
          enum:
            - Unknown
            - Fact
            - Services
            - AdditionalService
        - in: body
          schema:
            $ref: '#/definitions/BusinessTripsAnalytics'
          name: body
          required: true
      responses:
        '200':
          description: Доп. данные по командировке
          schema:
            $ref: '#/definitions/BaseResponse'
          headers:
            X-UpdateToken:
              description: Токен версии выборки
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/journeys/{journeyNumber}/trips/{businessTripNumber}/stage/{BusinessTripStage}/customProperties':
    get:
      tags:
        - Journeys
      description: Получение возможных для заполнения доп. данных по командировке
      operationId: GetBusinessTripAnalytics
      parameters:
        - name: journeyNumber
          in: path
          description: Номер поездки
          required: true
          type: integer
        - name: businessTripNumber
          in: path
          description: Номер командировки
          required: true
          type: integer
        - name: BusinessTripStage
          in: path
          description: Этап оформления командировки
          required: true
          type: string
          enum:
            - Unknown
            - Fact
            - Services
            - AdditionalService
        - name: orderNumber
          in: query
          description: Номер заказа
          type: integer
        - name: serviceNumber
          in: query
          description: Номер услуги
          type: integer
      responses:
        '200':
          description: Доп. данные по командировке
          schema:
            $ref: '#/definitions/DataResponseOfBusinessTripsAnalytics'
          headers:
            X-UpdateToken:
              description: Токен версии выборки
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /journeysV2:
    put:
      tags:
        - Journeys
      description: Создание поездки версии 2. Поддержка создания с неколькими пунктами назанчения
      operationId: CreateJourneyV2
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/JourneyCreateJourneyRequestV2'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается номер созданной поездки и командировок
          schema:
            $ref: '#/definitions/DataResponseOfJourneyNumbers'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /notifications/count:
    get:
      tags:
        - Notifications
      description: Количество непрочитанных уведомлений
      operationId: CountNotifications
      responses:
        '200':
          description: Количество сообщений
          schema:
            $ref: '#/definitions/DataResponseOfCountedPushNotifications'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /notifications/read:
    post:
      tags:
        - Notifications
      description: Пометить уведомления как прочитанные
      operationId: ReadPushNotifications
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/UpdatePushNotificationsArgs'
          name: UpdatePushNotificationParameters
          description: Уведомления для пометки прочитанными
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /notifications/readall:
    post:
      tags:
        - Notifications
      description: Пометить все уведомления как прочитанные
      operationId: ReadAllPushNotifications
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/UpdatePushNotificationsArgs'
          name: UpdatePushNotificationParameters
          description: Уведомления для пометки прочитанными
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /notifications/search:
    get:
      tags:
        - Notifications
      description: Поиск уведомлений
      operationId: SearchNotifications
      parameters:
        - name: IsRead
          in: query
          description: Фильтр прочитанные//непрочитанные
          type: boolean
          default: false
        - name: Mode
          in: query
          description: Уведомления для определенного режима (можно указывать несколько через запятую)
          type: string
          enum:
            - NotSet
            - TripPlan
            - Orders
            - Variants
            - ServicesAuthorization
            - BusinessTrip
        - name: Descending
          in: query
          description: Сортировка по убыванию
          type: boolean
          default: false
        - name: PageNumber
          in: query
          description: Номер страницы
          type: integer
          default: 0
        - name: MaxCount
          in: query
          description: Количество элементов на страницу
          type: integer
          default: 15
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /notifications/token:
    put:
      tags:
        - Notifications
      description: Сохранение токена устройства
      operationId: PutNotificationToken
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/PushNotificationToken'
          name: PushNotificationToken
          description: Информация по токену
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/oauth/{clientId}/fingerprint/{fingerprint}':
    put:
      tags:
        - Authentication
      description: Аутентификация устройства
      operationId: Authenticate
      parameters:
        - name: clientId
          in: path
          description: идентификатор платформы
          required: true
          type: string
        - name: fingerprint
          in: path
          description: уникальный идентификатор экземпляра приложения
          required: true
          type: string
        - in: body
          schema:
            $ref: '#/definitions/AuthorizationTokenRequestDocs'
          name: body
          required: true
      responses:
        '201':
          description: Возвращаются данные для bearer-авторизации устройства
          schema:
            $ref: '#/definitions/AuthorizationToken'
        '426':
          description: Версия протокола не поддерживается
    delete:
      tags:
        - Authentication
      description: Удаление токена устройства
      operationId: DeleteAuthentication
      parameters:
        - name: clientId
          in: path
          description: идентификатор платформы
          required: true
          type: string
        - name: fingerprint
          in: path
          description: уникальный идентификатор экземпляра приложения
          required: true
          type: string
      responses:
        '204':
          description: Операция выполнена
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /orders:
    get:
      tags:
        - Orders
      description: Получение списка заказов текущего пользователя
      operationId: GetOrders
      parameters:
        - name: statusFilter
          in: query
          description: Фильтр по статусам услуг в заказе
          type: string
          enum:
            - Active
            - Draft
            - Archived
        - name: serviceTypes
          in: query
          description: Фильтр по типам услуг в заказе
          type: string
          enum:
            - Avia
            - Rail
            - Hotel
            - AeroExpress
        - name: travellerProfileId
          in: query
          description: Профиль путешественника
          type: integer
        - name: dateFrom
          in: query
          description: Дата начала услуги
          type: string
          format: date-time
          default: '2020-10-05'
        - name: dateTo
          in: query
          description: Дата окончания услуги
          type: string
          format: date-time
          default: '2020-11-24'
        - name: cityId
          in: query
          description: Фильтр по городу
          type: integer
          default: 16381
        - name: orderNumber
          in: query
          description: Фильтр по номеру заказа
          type: integer
        - name: pageNumber
          in: query
          description: Номер страницы
          type: integer
          default: 0
        - name: maxCount
          in: query
          description: Количество элементов на странице
          type: integer
          default: 15
      responses:
        '200':
          description: Возвращается список заказов
          schema:
            $ref: '#/definitions/PagedResponseOfOrder'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}':
    get:
      tags:
        - Orders
      description: Получение заказа по номеру
      operationId: GetOrderByNumber
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается заказ
          schema:
            $ref: '#/definitions/Order'
        '404':
          description: Заказ не найден или нет прав на его просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/allowedpaymentrequisites':
    get:
      tags:
        - Orders
      description: Получение деталей оплаты заказа
      operationId: GetPaymentRequisites
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
      responses:
        '200':
          description: Возвращаются доступные детали оплаты
          schema:
            $ref: '#/definitions/DataResponseOfPaymentRequisites'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/execute':
    put:
      tags:
        - Orders
      description: Запрос на офромление заказа целиком
      operationId: PerformExecutionOrder
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/PerformExecutionRequest'
          name: body
          required: true
      responses:
        '200':
          description: Запрос принят в обработку
        '404':
          description: Заказ не найден или нет прав на его просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/paymentrequisites':
    put:
      tags:
        - Orders
      description: Сохранение деталей оплаты заказа
      operationId: SavePaymentRequisites
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/PaymentRequisitesRequest'
          name: body
          required: true
      responses:
        '200':
          description: Результат выполнения операции возвращается в поле is_success
          schema:
            $ref: '#/definitions/DataResponseOfString'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/paymentrequisitesrequired':
    get:
      tags:
        - Orders
      description: Получение информации о необходимости сохранения деталей оплаты заказа
      operationId: PaymentRequisitesRequired
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
      responses:
        '200':
          description: О необходимости сохранения деталей оплаты можно судить по полю data
          schema:
            $ref: '#/definitions/DataResponseOfBoolean'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/posts':
    get:
      tags:
        - Orders
      description: Получение комментариев к заказу
      operationId: GetOrderPosts
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: last
          in: query
          description: Количество последних коментариев
          type: integer
          default: 10
        - name: versionToken
          in: query
          description: Токен версии последней полученной выборки
          type: string
        - name: lastMessageID
          in: query
          description: Идентификатор последнего полученного комментария
          type: integer
      responses:
        '200':
          description: Список комментариев к заказу
          schema:
            type: array
            items:
              $ref: '#/definitions/Post'
          headers:
            X-UpdateToken:
              description: Токен версии выборки
              type: string
              format: string
        '404':
          description: Заказ не найден или нет прав на его просмотр
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Orders
      description: Добавление комментария к заказу
      operationId: AddOrderPost
      consumes:
        - multipart/form-data
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/MessageRequest'
          name: body
          required: true
        - name: upfile
          in: formData
          description: Прикрепляемое изображение
          type: file
      responses:
        '200':
          description: Возвращается добавленный комментарий
          schema:
            $ref: '#/definitions/Post'
          headers:
            X-UpdateToken:
              description: Токен версии добавленного комментария
              type: string
              format: string
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/posts/read':
    put:
      tags:
        - Orders
      description: Пометить комментарии как прочитанные
      operationId: ReadOrderPosts
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/IdsRequest'
          name: body
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}':
    get:
      tags:
        - Services
      description: Получение услуги по номеру
      operationId: GetService
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается услуга
          schema:
            $ref: '#/definitions/IServiceDetailWithPosts'
        '404':
          description: Услуга не найдена или нет прав на её просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/alloweddocuments':
    get:
      tags:
        - Services
      description: Получение доступных документов для оформления услуги
      operationId: GetAllowedDocuments
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/AllowedDocumentsRequest'
          name: body
          required: true
      responses:
        '200':
          description: Возвращается список доступных документов для оформления услуги
          schema:
            type: array
            items:
              $ref: '#/definitions/TravellerDocument'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/alter':
    put:
      tags:
        - Services
      description: Запрос на внесение изменений в услугу
      operationId: AlterService
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/MessageRequest'
          name: body
          required: true
      responses:
        '200':
          description: Запрос принят в обработку
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/authfx/state':
    get:
      tags:
        - Services
      description: Получение данных по авторизации услуги
      operationId: GetAuthorizingData
      parameters:
        - name: orderNumber
          in: path
          description: номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Данные по авторизации услуги
          schema:
            $ref: '#/definitions/DataResponseOfAuthorizationData'
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Services
      description: Отправка услуги на авторизацию
      operationId: SendServiceToAuthorization
      parameters:
        - name: orderNumber
          in: path
          description: номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: номер услуги
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/SendServiceToAuthorizationRequest'
          name: body
          required: true
      responses:
        '200':
          description: Успешность выполнения возвращается в поле is_success
          schema:
            $ref: '#/definitions/BaseResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/authfx/token':
    get:
      tags:
        - AuthFx
      description: Получение токена для авторизации услуги
      operationId: GetBatchTokenForOrderService
      parameters:
        - name: orderNumber
          in: path
          description: номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Токен для авторизации услуги
          schema:
            $ref: '#/definitions/DataResponseOfString'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/cancel':
    put:
      tags:
        - Services
      description: Запрос на отмену или возврат услуги
      operationId: PerformCancelationService
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Запрос принят в обработку
        '404':
          description: Услуга не найдена или нет прав на её просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/duplicates':
    get:
      tags:
        - Services
      description: Запрос информации о дублях услуги по путешественникам.
      operationId: GetServiceDuplicateInfo
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Данные о дублях услуги.
          schema:
            $ref: '#/definitions/DataResponseOfServiceDuplicateInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/execute':
    put:
      tags:
        - Services
      description: Запрос на офромление услуги
      operationId: PerformExecutionService
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/PerformExecutionRequest'
          name: body
          required: true
      responses:
        '200':
          description: Запрос принят в обработку
        '404':
          description: Услуга не найдена или нет прав на её просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/executionComment':
    put:
      tags:
        - Services
      description: Добавление комментария к номеру при оформлении отельной услуги
      operationId: AddExecutionComment
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/CommentRequest'
          name: body
          required: true
      responses:
        '200':
          description: Успешность выполнения возвращается в поле is_success
          schema:
            $ref: '#/definitions/BaseResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/regulations':
    get:
      tags:
        - Services
      description: Получение правил оказания услуги
      operationId: GetServiceRegulations
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Возвращаются правила оказания услуги
          schema:
            $ref: '#/definitions/Regulation'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/reserve':
    put:
      tags:
        - Services
      description: Запрос на бронирование услуги
      operationId: PerformReservationService
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/ReservationParametersRequest'
          name: body
          required: true
      responses:
        '200':
          description: Запрос принят в обработку
        '404':
          description: Услуга не найдена или нет прав на её просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/seats':
    get:
      tags:
        - Services
      description: Получение актуальной информации о свободных местах (ЖД)
      operationId: GetSeatsInfo
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается актуальная информация о свободных местах в выбранном вагоне
          schema:
            $ref: '#/definitions/DataResponseOfRailVariantDetail'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/travellers':
    put:
      tags:
        - Services
      description: Добавление путешественников в услугу
      operationId: AddTravellers
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/AddTravellersRequest'
          name: body
          required: true
      responses:
        '200':
          description: Результат выполнения операции возвращается в поле is_success
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceDuplicateInfo'
        '404':
          description: Услуга не найдена или нет прав на её просмотр
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/travellers/{travellerId}/analytics/{customPropertyId}/values/{customPropertyValueId}/dependent':
    put:
      tags:
        - Services
      description: Получение зависимых дополнительных данных
      operationId: GetTravellersAnalyticsChilds
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - name: travellerId
          in: path
          description: Идентификатор путешественника
          required: true
          type: integer
        - name: customPropertyId
          in: path
          description: Идентификатор допданного
          required: true
          type: integer
        - name: customPropertyValueId
          in: path
          description: Идентификатор значения допданного.
          required: true
          type: integer
      responses:
        '200':
          description: Возвращаются зависимые дополнительных данных
          schema:
            $ref: '#/definitions/DataResponseOfCustomPropertyDependent'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/travellers/{travellerId}/documents':
    put:
      tags:
        - Services
      description: Добавление документа к путешественнику
      operationId: AddTravellerDocument
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - name: travellerId
          in: path
          description: Идентификатор путешественника
          required: true
          type: integer
        - in: body
          schema:
            $ref: '#/definitions/AddTravellerDocumentRequest'
          name: body
          required: true
      responses:
        '200':
          description: Результат выполнения операции возвращается в поле is_success
          schema:
            $ref: '#/definitions/BaseResponse'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/orders/{orderNumber}/services/{serviceNumber}/travellersAnalytics':
    get:
      tags:
        - Services
      description: Получение дополнительных данных о путешественниках
      operationId: GetTravellersAnalytics
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
      responses:
        '200':
          description: Возвращаются дополнительные данные о путешественниках
          schema:
            type: array
            items:
              $ref: '#/definitions/TravellerAnalytics'
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Services
      description: Сохранение дополнительных данных о путешественниках
      operationId: SaveTravellersAnalytics
      parameters:
        - name: orderNumber
          in: path
          description: Номер заказа
          required: true
          type: integer
        - name: serviceNumber
          in: path
          description: Номер услуги
          required: true
          type: integer
        - in: body
          schema:
            type: array
            items:
              $ref: '#/definitions/TravellerAnalytics'
          name: body
          required: true
      responses:
        '200':
          description: Результат выполнения операции возвращается в поле is_success
          schema:
            $ref: '#/definitions/DataResponseOfString'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /profile:
    get:
      tags:
        - Profile
      description: Получение информации по текущему профайлу
      operationId: GetProfile
      responses:
        '200':
          description: Профиль пользователя
          schema:
            $ref: '#/definitions/Profile'
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Profile
      description: Создание нового профиля
      operationId: AddProfile
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/AddProfileRequest'
          name: body
          required: true
      responses:
        '200':
          description: В поле data возвращается идентификатор созданного профиля
          schema:
            $ref: '#/definitions/DataResponseOfInt32'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/profile/{profileId}':
    get:
      tags:
        - Profile
      description: Получение информации о профайле по тдентификатору
      operationId: GetProfileById
      parameters:
        - name: profileId
          in: path
          description: Идентификатор профайла
          required: true
          type: integer
      responses:
        '200':
          description: Профиль пользователя
          schema:
            $ref: '#/definitions/Profile'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/profile/{profileId}/avatar':
    get:
      tags:
        - Profile
      description: Получение аватара пользователя по Id профиля
      operationId: GetAvatar
      produces:
        - image/png
        - image/gif
        - image/jpeg
      parameters:
        - name: profileId
          in: path
          description: id профиля пользователя
          type: integer
          required: true
        - name: width
          in: query
          description: ширина аватарки
          type: integer
          default: 240
        - name: height
          in: query
          description: высота аватарки
          type: integer
          default: 320
        - name: format
          in: query
          description: формат аватарки
          type: string
          enum:
            - Unknown
            - Png
            - Jpeg
            - Gif
      responses:
        '200':
          description: byte array
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/profile/{profileId}/company/{companyId}/analytics/validate':
    get:
      tags:
        - Profile
      description: Проверка на наличие не заполненных доп.данных у профиля
      operationId: ValidateCompanyCustomProperties
      parameters:
        - name: profileId
          in: path
          description: Идентификатор профайла
          required: true
          type: integer
        - name: companyId
          in: path
          description: Идентификатор компании
          required: true
          type: integer
      responses:
        '200':
          description: Результат проверки
          schema:
            $ref: '#/definitions/CustomPropertyDependent'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /profile/avatar:
    get:
      tags:
        - Profile
      description: Получение аватара текущего пользователя
      operationId: GetCurrentAvatar
      produces:
        - image/png
        - image/gif
        - image/jpeg
      parameters:
        - name: width
          in: query
          description: ширина аватарки
          type: integer
          default: 240
        - name: height
          in: query
          description: высота аватарки
          type: integer
          default: 320
        - name: format
          in: query
          description: формат аватарки
          type: string
          enum:
            - Unknown
            - Png
            - Jpeg
            - Gif
      responses:
        '200':
          description: byte array
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Profile
      description: Сохранение аватара для пользотеля
      operationId: PutAvatar
      consumes:
        - multipart/form-data
      parameters:
        - name: upfile
          in: formData
          description: Загружаемая картинка
          type: file
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /profile/documents:
    put:
      tags:
        - Profile
      description: Добавление документов(паспортов) пользователя
      operationId: AddDocument
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/AddDocumentRequest'
          name: document
          description: Информация о добавляемом документе
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/profile/documents/{documentId}':
    delete:
      tags:
        - Profile
      description: Удаление документа(паспорта) пользователя
      operationId: DeleteDocument
      parameters:
        - name: documentId
          in: path
          description: id удаляемого документа
          type: integer
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /profile/update:
    post:
      tags:
        - Profile
      description: Обновление информации профайла
      operationId: UpdateProfile
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/UpdateProfileModel'
          name: parameters
          description: Параметры для обновлнеия
          required: true
      responses:
        '200':
          description: Успешно
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /references:
    get:
      tags:
        - References
      summary: Поиск локаций (autocomplete)
      description: Поиск локаций (autocomplete)
      operationId: GetReferences
      parameters:
        - name: query
          in: query
          description: Поисковая строка
          type: string
        - name: type
          in: query
          description: Тип искомых объектов
          type: string
          enum:
            - Undefined
            - Country
            - City
            - RailwayStation
            - Hotel
            - Airport
            - Airline
            - AirlineAlliance
      responses:
        '200':
          description: Список найденных локаций
          schema:
            type: array
            items:
              $ref: '#/definitions/LookupItem'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /references/profiles:
    get:
      tags:
        - References
      summary: Поиск профилей (autocomplete)
      description: Поиск профилей (autocomplete)
      operationId: SearchProfiles
      parameters:
        - name: query
          in: query
          description: Поисковая строка
          type: string
      responses:
        '200':
          description: Список найденных профилей
          schema:
            type: array
            items:
              $ref: '#/definitions/ProfileLookupItem'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/requests/{requestNumber}/cancel':
    post:
      tags:
        - Request
      summary: Отмена поискового запроса
      description: Отмена поискового запроса
      operationId: CancelOfferRequest
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '201':
          description: В поле data возвращается номер отмененного запроса
          schema:
            $ref: '#/definitions/DataResponseOfInt32'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/requests/{requestNumber}/read':
    post:
      tags:
        - Request
      summary: Пометить поисковый запрос прочитанным
      description: Пометить поисковый запрос прочитанным
      operationId: ReadRequest
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '201':
          description: Флаг "прочитано"
          schema:
            $ref: '#/definitions/DataResponseOfBoolean'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/requests/{requestNumber}/unread':
    post:
      tags:
        - Request
      summary: Пометить поисковый запрос непрочитанным
      description: Пометить поисковый запрос непрочитанным
      operationId: UnreadRequest
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '201':
          description: Флаг "прочитано"
          schema:
            $ref: '#/definitions/DataResponseOfBoolean'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  /search:
    put:
      tags:
        - Search
      summary: Создание запроса на поиск вариантов
      description: Создание запроса на поиск вариантов
      operationId: CreateSearchRequest
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/CreateSearchRequest'
          name: body
          required: true
      responses:
        '201':
          description: В поле data возвращается номер созданного запроса
          schema:
            $ref: '#/definitions/DataResponseOfInt32'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}':
    get:
      tags:
        - Search
      summary: Получение запроса по номеру
      description: Получение запроса по номеру
      operationId: GetRequest
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '200':
          description: Возвращается объект запроса
          schema:
            $ref: '#/definitions/DataResponseOfSearchRequest'
        '404':
          description: Запрос не существует или принадлежит другому пользователю.
        '426':
          description: Версия протокола не поддерживается
    put:
      tags:
        - Search
      summary: Обновление результатов поиска
      description: Обновление результатов поиска
      operationId: UpdateSearchResults
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '200':
          description: В поле is_success возвращается результат отправки запроса на обновление резальтатов поиска
          schema:
            $ref: '#/definitions/BaseResponse'
        '404':
          description: Запрос не существует или принадлежит другому пользователю.
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/{optionNumber}/status':
    get:
      tags:
        - Search
      summary: Получение статуса поискового запроса
      description: Получение статуса поискового запроса
      operationId: GetOptionRequestStatus
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
          default: 1
      responses:
        '200':
          description: Статус запроса
          schema:
            $ref: '#/definitions/DataResponseOfOptionRequestStatusInfo'
        '404':
          description: Запрос не существует или принадлежит другому пользователю
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/details/{key}':
    get:
      tags:
        - Search
      summary: '[⚠️**Устарело**] Получение детальной информации по варианту'
      description: '[⚠️**Устарело**] Получение детальной информации по варианту'
      deprecated: true
      operationId: GetDetails
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
        - name: Идентификатор тарифа (отели)
          in: query
          type: string
      responses:
        '200':
          description: Детальная информация по варианту
          schema:
            $ref: '#/definitions/DataResponseOfVariantDetail'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/details/{key}/rules':
    get:
      tags:
        - Search
      summary: '[⚠️**Устарело**] Получение правил по варианту'
      description: '[⚠️**Устарело**] Получение правил по варианту'
      deprecated: true
      operationId: GetRules
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
        - name: Идентификатор тарифа (отели)
          in: query
          type: string
      responses:
        '200':
          description: Правила оказания услуг по варианту
          schema:
            $ref: '#/definitions/Regulation'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/details/{key}/select':
    put:
      tags:
        - Search
      summary: '[⚠️**Устарело**] Выбор варианта (создание заказа)'
      description: '[⚠️**Устарело**] Выбор варианта (создание заказа)'
      deprecated: true
      operationId: CreateOrder
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/DetailsRequest'
          name: body
          required: true
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: В поле data возвращается номер созданного заказа
          schema:
            $ref: '#/definitions/DataResponseOfInt32'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/details/{key}/selectToTrip':
    put:
      tags:
        - Search
      summary: '[⚠️**Устарело**] Выбор варианта для командировки (создание заказа)'
      description: '[⚠️**Устарело**] Выбор варианта для командировки (создание заказа)'
      deprecated: true
      operationId: CreateOrderForBusinessTrip
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/CreateOrderForBusinessTripRequest'
          name: body
          required: true
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: "В поле data возвращается массив следующих данных:\r\njourney_number: номер поездки;\r\nbusiness_trips_number: номер командировки;\r\norder_number: номер созданного заказа;\r\nservice_number: номер созданной услуги;"
          schema:
            $ref: '#/definitions/DataResponseOfServicesForBusinessTrip'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/favourite/{key}':
    put:
      tags:
        - Search
      summary: '[⚠️**Устарело**] Добавить вариант в избранные'
      description: '[⚠️**Устарело**] Добавить вариант в избранные'
      deprecated: true
      operationId: MarkFavouriteVariant
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: Успешно
          schema:
            $ref: '#/definitions/DataResponseOfBoolean'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/favourites':
    get:
      tags:
        - Search
      summary: Получение списка избранных вариантов
      description: Получение списка избранных вариантов
      operationId: GetFavourites
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '200':
          description: Список избранных вариантов
          schema:
            $ref: '#/definitions/DataResponseOfVariantInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/filterparameters':
    get:
      tags:
        - Search
      summary: Получение возможных значений фильтров
      description: Получение возможных значений фильтров
      operationId: GetFilterValues
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
      responses:
        '200':
          description: Возможные значения фильтров
          schema:
            type: array
            items:
              $ref: '#/definitions/FilterParameter'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/journeys':
    get:
      tags:
        - Search
      summary: Поиск командировок по поисковому запросу
      description: Поиск командировок по поисковому запросу
      operationId: GetJourneysByRequestNumber
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: pageNumber
          in: query
          description: Номер страницы
          type: integer
          default: 0
        - name: maxCount
          in: query
          description: Количество элементов на странице
          type: integer
          default: 15
      responses:
        '200':
          description: Список командировок
          schema:
            $ref: '#/definitions/DataResponseOfJourneyInfoCompatible'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/details/{key}':
    get:
      tags:
        - Search
      summary: Получение детальной информации по варианту
      description: Получение детальной информации по варианту
      operationId: GetDetailsForOption
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
          default: 1
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: Детальная информация по варианту
          schema:
            $ref: '#/definitions/DataResponseOfVariantDetail'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/details/{key}/rules':
    get:
      tags:
        - Search
      summary: Получение правил по варианту
      description: Получение правил по варианту
      operationId: GetRulesForOption
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
          default: 1
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: Правила оказания услуг по варианту
          schema:
            $ref: '#/definitions/Regulation'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/details/{key}/select':
    put:
      tags:
        - Search
      summary: Выбор варианта (создание заказа)
      description: Выбор варианта (создание заказа)
      operationId: CreateOrderWithOptions
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/CreateOrderRequest'
          name: body
          required: true
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
          default: 1
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: В поле data возвращается номер созданного заказа и услуги
          schema:
            $ref: '#/definitions/DataResponseOfServiceNumberInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/details/{key}/selectToTrip':
    put:
      tags:
        - Search
      summary: Выбор варианта для командировки (создание заказа)
      description: Выбор варианта для командировки (создание заказа)
      operationId: CreateOrderWithOptionsForBusinessTrip
      parameters:
        - in: body
          schema:
            $ref: '#/definitions/CreateOrderForBusinessTripRequest'
          name: body
          required: true
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер варианта
          required: true
          type: integer
          default: 1
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: "В поле data возвращается массив следующих данных:\r\njourney_number: номер поездки;\r\nbusiness_trips_number: номер командировки;\r\norder_number: номер созданного заказа;\r\nservice_number: номер созданной услуги;"
          schema:
            $ref: '#/definitions/DataResponseOfServicesForBusinessTrip'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/favourite/{key}':
    put:
      tags:
        - Search
      summary: Добавить вариант в избранные
      description: Добавить вариант в избранные
      operationId: MarkFavouriteOptionVariant
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
          default: 1
        - name: key
          in: path
          description: Идентификатор варианта
          required: true
          type: string
      responses:
        '200':
          description: Успешно
          schema:
            $ref: '#/definitions/DataResponseOfBoolean'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/results':
    get:
      tags:
        - Search
      summary: Постраничное получение списка вариантов в опции с учётом фильтрации
      description: Постраничное получение списка вариантов в опции с учётом фильтрации
      operationId: GetResultsForOption
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
          default: 1
        - name: times
          in: query
          description: Диапазон времени
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: orderBy
          in: query
          description: Сортировка по параметру
          type: string
          enum:
            - Optimal
            - Price
            - Duration
            - ByTime
        - name: isDescending
          in: query
          description: Сортировка в обратном порядке
          type: boolean
          default: false
        - name: departureAtThereTimes
          in: query
          description: Время отправления туда
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: arrivalAtThereTimes
          in: query
          description: Время прибытия туда
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: departureAtBackTimes
          in: query
          description: Время прибытия обратно
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: arrivalAtBackTimes
          in: query
          description: Время прибытия обратно
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: departureFromThere
          in: query
          description: Id пункта отправления туда
          type: integer
        - name: arrivalToThere
          in: query
          description: Id пункта прибытия туда
          type: integer
        - name: departureFromBack
          in: query
          description: Id пункта отправления обратно
          type: integer
        - name: arrivalToBack
          in: query
          description: Id пункта прибытия обратно
          type: integer
        - name: IsTravelPolicyCompliant
          in: query
          description: Соответствует Travel policy
          type: boolean
        - name: IsCorporateTariff
          in: query
          description: Соответствует Corporate tariff
          type: boolean
        - name: aviaFilter_airCompanies
          in: query
          description: Авиакомпания
          type: string
        - name: aviaFilter_classes
          in: query
          description: Класс
          type: string
        - name: aviaFilter_transfer
          in: query
          description: Пересадка
          type: string
          enum:
            - Direct
            - One
            - TwoAndMore
        - name: aviaFilter_baggage
          in: query
          description: С багажом
          type: boolean
          default: true
        - name: aviaFilter_rules
          in: query
          description: Возвраты
          type: string
          enum:
            - Changeable
            - Refundable
        - name: aviaSort_isGroupedByFareFamily
          in: query
          description: Групировка при сортировке резултатов по FareFamily
          type: boolean
          default: false
        - name: railFilter_carriageTypes
          in: query
          description: Типы вагона
          type: string
          enum:
            - Lux
            - Vip
            - Coupe
            - Reserved
            - Seat
            - Common
            - Any
        - name: railFilter_trainName
          in: query
          description: Название поезда
          type: string
        - name: railFilter_trainCategories
          in: query
          description: Тип поезда
          type: string
          enum:
            - Fast
            - HighSpeed
        - name: railFilter_electronicRegistration
          in: query
          description: Признак электронной регистрации
          type: boolean
          default: true
        - name: railFilter_carriageOwners
          in: query
          description: Владельцы вагонов
          type: string
        - name: railFilter_branded
          in: query
          description: Признак брендированности поезда
          type: boolean
        - name: hotelFilter_stars
          in: query
          description: Звездность отеля
          type: string
          default: '3,4'
        - name: hotelFilter_priceFrom
          in: query
          description: Стоимость от
          type: number
          default: 3000
        - name: hotelFilter_priceTo
          in: query
          description: Стоимость до
          type: number
          default: 15000
        - name: hotelFilter_hotelTypes
          in: query
          description: Тип отеля
          type: string
        - name: hotelFilter_paymentPlaces
          in: query
          description: Оплата
          type: string
          enum:
            - Checkin
            - Agency
        - name: hotelFilter_confirmationTypes
          in: query
          description: Подтверждение
          type: string
          enum:
            - InstantConfirmation
            - OnRequest
        - name: hotelFilter_isRecommended
          in: query
          description: Признак рекомендованного отеля
          type: boolean
        - name: pageNumber
          in: query
          description: Номер страницы
          type: integer
          default: 0
        - name: maxCount
          in: query
          description: Количество элементов на странице
          type: integer
          default: 15
      responses:
        '200':
          description: Список найденных вариантов
          schema:
            $ref: '#/definitions/PagedResponseOfVariantInfo'
        '426':
          description: Версия протокола не поддерживается
    parameters: []
  '/search/{requestNumber}/options/{optionNumber}/results/count':
    get:
      tags:
        - Search
      summary: 'Количество вариантов, соответствующих условиям фильтра'
      description: 'Количество вариантов, соответствующих условиям фильтра'
      operationId: GetResultsCount
      parameters:
        - name: requestNumber
          in: path
          description: Номер запроса
          required: true
          type: integer
        - name: optionNumber
          in: path
          description: Номер опции
          required: true
          type: integer
        - name: times
          in: query
          description: Диапазон времени
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: departureAtThereTimes
          in: query
          description: Время отправления туда
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: arrivalAtThereTimes
          in: query
          description: Время прибытия туда
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: departureAtBackTimes
          in: query
          description: Время прибытия обратно
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
            - Evening
        - name: arrivalAtBackTimes
          in: query
          description: Время прибытия обратно
          type: string
          enum:
            - Night
            - Morning
            - Afternoon
[...]
