@font-face {
    font-family: 'HarmoniaSans';
    font-style: italic;
    font-weight: bold;
    src: local('HarmoniaSansProCyr-BoldItalic'),
    url('./HarmoniaSansProCyr-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'HarmoniaSans';
    font-style: normal;
    font-weight: bold;
    src:local('HarmoniaSansProCyr-Bold'),
    url('./HarmoniaSansProCyr-Bold.woff') format('woff');
}

@font-face {
    font-family: 'HarmoniaSans';
    font-style: italic;
    font-weight: 600;
    src: local('HarmoniaSansProCyr-SemiBoldIt'),
    url('./HarmoniaSansProCyr-SemiBoldIt.woff') format('woff');
}
@font-face {
    font-family: 'HarmoniaSans';
    font-style: normal;
    font-weight: 600;
    src: local('HarmoniaSansProCyr-SemiBold'),
    url('./HarmoniaSansProCyr-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'HarmoniaSans';
    font-style: italic;
    font-weight: normal;
    src: local('HarmoniaSansProCyr-Italic'),
    url('./HarmoniaSansProCyr-Italic.woff') format('woff');
}

@font-face {
    font-family: 'HarmoniaSans';
    font-style: normal;
    font-weight: normal;
    src: local('HarmoniaSansProCyr-Regular'),
    url('./HarmoniaSansProCyr-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 600;
    src: local('SourceSansPro-Bold'),
    url('./SourceSansPro-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 600;
    src: local('SourceSansPro-BoldItalic'),
    url('./SourceSansPro-BoldItalic.ttf') format('ttf');
}
